{% extends "mall_test/base.html" %}

{% block content %}
  <h2>Payment</h2>

  {{ payment_props|json_script:"payment-props" }}

  <script>
    window.PAYMENT_CHECK_URL = "{{ payment_check_url }}"
  </script>
  <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
  <script>
    (function () {
      const IMP = window.IMP;
      const code = "iamport";
      IMP.init(code);

      const props_json = document
        .querySelector('#payment-props')
        .textContent

      const props = JSON.parse(props_json)

      IMP.request_pay(props, function (response) {
        // 콜백 함수
        location.href = window.PAYMENT_CHECK_URL;
      });

    })();
  </script>
{% endblock content %}
